@font-face {
  font-family: "Georgia";
  font-weight: 400;
  src: url("../assets/fonts/georgia/georgia-regular.ttf");
}
  
@font-face {
  font-family: "Georgia";
  font-weight: 700;
  src: url("../assets/fonts/georgia/georgia-bold.ttf");
}
  
@font-face {
  font-family: "Arial";
  font-weight: 400;
  src: url("../assets/fonts/arial/arial-regular.ttf");
}
  
@font-face {
  font-family: "Arial";
  font-weight: 700;
  src: url("../assets/fonts/arial/arial-bold.ttf");
}
  
@font-face {
  font-family: "Arial";
  font-weight: 400;
  font-style: italic;
  src: url("../assets/fonts/arial/arial-italic.ttf");
}
  
html {
  scroll-behavior: smooth;
}
  
body {
  font-family: "Arial", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
  background-color: rgb(33, 34, 34); 
}

.slider {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider__radio {
  display: none;
}

.slider__container {
  max-width: 50rem;
  margin: 0;
  padding: 0;
  line-height: 0;
}

.slider__container_secondary {
  width: 100%;
  overflow: hidden;
  border-radius: 1.5%;
}

.slider__list {
  width: 100%;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  transition: all 0.5s ease-in-out;
}

.slider__item {
  flex-shrink: 0;
  width: 100%;
  margin: 0;
  padding: 0;
}

.slider__image {
  width: 100%;
  height: auto; 
  display: block;
}

.slider__navigation {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.navigation__list {
  width: 50%;
  height: 3rem;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  line-height: 1.5rem;
}

.navigation__item {
  margin: 0;
  padding: 0;
  margin-bottom: 5rem;
}

.navigation__title {
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.navigation__bullets {
  max-width: 50%;
  display: flex;
  margin: 0;
  padding: 0;
  line-height: 1.5rem;
  list-style-type: none;
}

.navigation__bullet {
  margin: 0;
  padding: 0;
}

.bullet__point {
  height: 0.5rem;
  width: 0.5rem;
  content: '';
  background-color: lightblue;
  border: lightblue solid 0.1rem;
  border-radius: 50%;
  margin: 0;
  padding: 0;
  margin-right: 1rem;
  margin-top: 0.2rem;
  cursor: pointer;
}

.bullet__point:hover {
  background-color: #ffffff;
  border: #ffffff solid 0.1rem;
}

#slide1:checked ~ .slider__container label[for="slide1"],
#slide2:checked ~ .slider__container label[for="slide2"],
#slide3:checked ~ .slider__container label[for="slide3"],
#slide4:checked ~ .slider__container label[for="slide4"],
#slide5:checked ~ .slider__container label[for="slide5"] {
  background-color: transparent;
}

#slide1:checked ~ .slider__container .slider__list {
  transform: translateX(0);
}

#slide2:checked ~ .slider__container .slider__list {
  transform: translateX(-50rem);
}

#slide3:checked ~ .slider__container .slider__list {
  transform: translateX(-100rem);
}

#slide4:checked ~ .slider__container .slider__list {
  transform: translateX(-150rem);
}

#slide5:checked ~ .slider__container .slider__list {
  transform: translateX(-200rem);
}

@media only screen and (max-width: 888px) {
  .slider__container {
    max-width: 90%;
  }
  
  .slider__navigation {
    flex-direction: column-reverse;
  }

  .navigation__list {
    margin-top: 1.5rem;
    width: 100%;
  }

  .navigation__bullets {
    align-self: center;
  }
}