@font-face {
  font-family: "Georgia";
  font-weight: 400;
  src: url("../assets/fonts/georgia/georgia-regular.ttf");
}
  
@font-face {
  font-family: "Georgia";
  font-weight: 700;
  src: url("../assets/fonts/georgia/georgia-bold.ttf");
}
  
@font-face {
  font-family: "Arial";
  font-weight: 400;
  src: url("../assets/fonts/arial/arial-regular.ttf");
}
  
@font-face {
  font-family: "Arial";
  font-weight: 700;
  src: url("../assets/fonts/arial/arial-bold.ttf");
}
  
@font-face {
  font-family: "Arial";
  font-weight: 400;
  font-style: italic;
  src: url("../assets/fonts/arial/arial-italic.ttf");
}
  
html {
  scroll-behavior: smooth;
}
  
body {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  background-color: gray; 
}

.slider {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider__container {
  max-width: 50rem;
  margin: 0;
  padding: 0;
  overflow: hidden;
  line-height: 0;
  border-radius: 1.5%;
}

.slider__list {
  width: 100%;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.slider__item {
  width: 100%;
  margin: 0;
  padding: 0;
}